#header ul { display: flex;
             padding: 2px;
             background-color: white;
             color: #a1a1a1;
             margin-bottom: -20px;
             border-bottom: 1px solid #f4f4f4;
             height: 55px;
}

#search-box { width: 950px;
              margin-top: 5px;
}


#logo img{ width: 30px;
           height: 30px;
}
#header #nav-buttons { padding-left: 3px;
                       margin-top: 5px;
}
#nav-buttons { margin-left: 5px;
               margin-right: 2.5px;
               color: #bababa;
               text-decoration: none;
               font-size: 1.9em;
}

/* column and wrapper styles  */

#wrapper { width: 100%;
          margin: 50px auto;
}

#column { display: flex;
          flex-wrap: wrap;

}

.holder { display: inline;
          width: 400px;
}

.holder img {
    width: 100%;
    border-bottom: 3px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.holder p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}
