#header ul { display: flex;
             padding: 2px;
             background-color: white;
             color: #a1a1a1;
             margin-bottom: -20px;
             border-bottom: 1px solid #f4f4f4;
             height: 55px;
}

#search-box { width: 950px;
              margin-top: 5px;
}

#logo img{ width: 30px;
           height: 30px;
}
#header #nav-buttons { padding-left: 3px;
                       margin-top: 5px;
}
#nav-buttons { margin-left: 5px;
               margin-right: 2.5px;
               color: #bababa;
               text-decoration: none;
               font-size: 1.9em;
}

/* column and wrapper styles  */

#wrapper { width: 100%;
          margin: 50px auto;
}

#column { display: flex;
          flex-wrap: wrap;

}

.holder { display: inline;
          width: 400px;
          background: #FEFEFE;
          border: 2px solid #FAFAFA;
          box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
          margin: 0px 2px 15px 0px;
         -webkit-column-break-inside: avoid;
         -moz-column-break-inside: avoid;
         column-break-inside: avoid;
         padding: 15px 15px 5px 15px;
         background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
         opacity: 1;
         -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
         -o-transition: all .2s ease;
         transition: all .2s ease;
}
.holder:hover { border-color: gray;
                border-radius: 20px;
                cursor: pointer;
}

.holder img {
    width: 100%;
    border-bottom: 3px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

.holder p {
    font: 12px/18px Arial, sans-serif;
    color: #333;
    margin: 0;
}
